html, body, #main, #intro {
    height: 100%;
    scroll-behavior: smooth;
}

#intro {
    background: url(../img/intro-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #3F729B;
}

#single-post {
    padding-top: 40px;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3F729B;
    }
}